.App {
  text-align: center;
}
.body {
  background-color: #f0f0f0;
}
table {
  font-size: 14px !important;
}
tr {
  border-bottom: 1px solid #0b060692 !important;
}
td {
  padding: 10px !important;
}
th {
  padding: 10px !important;
}
th {
  font-size: 16px !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.custom-container table {
  font-size: 13px;
  margin: 10px 0px;
}

.custom-container table thead tr th {
  padding: 0 1rem;
}
.custom-container table tbody tr td {
  padding: 0.5rem 1rem;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Add this to your global CSS file */
